GOOGLE_MAPS_API_KEY=TU_API_KEY_AQUI
GOOGLE_MAPS_WEB_API_KEY=TU_API_KEY_WEB_OPCIONAL
FIREBASE_PROJECT_ID=tu-proyecto-firebase
FIREBASE_WEB_API_KEY=tu-api-key-web-firebase
MERCADOPAGO_CHECKOUT_URL=https://www.mercadopago.com.mx/checkout/v1/redirect?pref_id=TU_PREFERENCE_ID

